<nav class="col-md-2 d-none d-md-block bg-body-tertiary" id="issuelist_sidebar">
    <div class="sidebar-sticky">
        <header class="my-3 border-bottom d-flex flex-column align-content-end">
            <button class="btn btn-success mb-5" data-bs-toggle="modal" data-bs-target="#newIssue">Add New Ticket</button>
            <h2 class="text-muted">Views</h2>
        </header>
        <ul class="nav d-flex flex-column">
            {% if user.is_support_agent %}
            {% else %}
            {% endif %}
            <li class="{% if user.active_view == 'Open' %}active{% endif %} nav-item rounded shadow">
                <a class="text-decoration-none text-muted" href="{% url 'issue:home' %}">All Open Tickets</a>
            </li>
            {% for status in statuses %}
            <li class="{% if user.active_view == status.name %}active{% endif %} nav-item rounded shadow {{status}}">
                <a class="text-decoration-none text-muted {{status}}" href="{% url 'issue:home' %}?filter={{status}}">{{status}} Tickets</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav> 