<nav class="navbar navbar-expand-lg bg-dark m-1 border border-secondary rounded" style="--bs-border-opacity: .3;"
    data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white fw-bold fs-1" href="#">Student Issue Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            {% if user.is_authenticated %}
            <ul class="navbar-nav text-light">
                <li class="nav-item">Welcome,<br/>{% if user.name %}{{user.name}}{% else %}{{user.email}}{% endif %}</li>
                <li class="nav-item d-flex align-items-center justify-content-center mx-5 text-light">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-bell" viewBox="0 0 16 16">
                        <path
                            d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
                    </svg>
                </li>
                <li class="nav-item">
                    <div class="dropdown p-0">
                        <a href="#"
                            class="d-flex align-items-center justify-content-center text-decoration-none text-light dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            </svg>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end pull-left text-small shadow">
                            <!-- <li><a class="dropdown-item" href="#">Admin</a></li> -->
                            <!-- <li><hr class="dropdown-divider"></li> -->
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>